@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Londrina+Outline&display=swap");

:root {
  --lightBeige: #e8e4e2ff;
  --gray: #939492ff;
  --slateBlue: #475b63ff;
  --charcoal: #394042ff;
  --silver: #c2c2c0ff;
  --steelBlue: #384d58ff;
  --dustyBlue: #5b717cff;
  --navyBlue: #132c3eff;
  --mustardYellow: #f5a932;
  --darkGrey: #3c4245;
  --darkRed: #a52a2a;
  --darkGreen: #6b8e23;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--lightBeige);
  font-size: 1.2rem;
  font-size-adjust: 0.58;
}
